@charset "utf-8";
@use "@/assets/styles/global" as *;
.l-header {
  height: $header_height_sp;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  bottom: 0;
  background-color: $color_white;
  @include md {
    height: $header_height;
  }
  .l-header__h1 {
    @include visually_hidden;
  }
  .l-header__inner {
    height: 100%;
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
    @include md {
      padding: 20px 40px;
    }
  }
  .l-header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .l-header__logoLink {
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    svg {
      display: block;
      width: 60px;
      @include md {
        width: 80px;
      }
    }
  }

  .l-header__hamburgerWrap {
    position: relative;
    z-index: 10;
    @include md {
      display: none;
    }
  }
}
