---
import "node_modules/destyle.css";
import Document from "./Document.astro";
import Footer from "@/layouts/Footer/Footer.astro";
import Header from "@/layouts/Header/Header.astro";

const props = Astro.props;
---

<Document {...props}>
  <Header />
  <main id="start-of-content" class="main">
    <slot />
  </main>
  <Footer />
</Document>
